.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 450px;
    width: 60%;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    max-height: 450px;
    margin-right: 10px;
    background-color: #FFFFFF;
    padding: 30px 20px;
}

.card h3 {
    color: #545454;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 0px;
}
