.campiregisteredContainer {
    margin: 0 auto;
    width: calc(100vw - 300px);
    min-width: 350px;
    height: calc(100vh - 250px);
    background: var(--white);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 19px;    
    display: flex;
    flex-direction: column;

}

.campiregisteredContainer h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--gray);
    align-self: center;
}

.campiregisteredContainer img{
    size: 80%;
}

.campiregisteredTop {
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 2rem;
}

.campiregisteredSearch {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.campiregisteredSearch label {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: var(--blue);
}

.campiregisteredSearch input {
    color: var(--gray);
    margin-bottom: 20px;
    border: 0;
    border-bottom: 0.5px solid var(--gray);
    transform: rotate(-0.01deg);
    height: 30px;
}

.campiregisteredSearch select {
    color: var(--gray);
    margin-bottom: 20px;
    border: 0;
    border-bottom: 0.5px solid var(--gray);
    transform: rotate(-0.01deg);
    height: 30px;
}

.campiregisteredTop button {
    width: 164px;
    height: 39px;
    display: flex;
    padding: 3px;
    align-items: center;
    background: var(--blue);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    margin-left: 15px;
    border: 0;
    justify-content: center;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
}

.campiregisteredTop button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.campiregisteredActionBox {
    flex: 1;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.campiregisteredActionBoxTitle {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 170px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.75);
}

.campiregisteredActionBoxTitle h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--gray);
}

.campiregisteredActionContainer {
    height: calc(100vh - 420px);
    overflow: auto;
    position: relative;
}

.editCampus strong {
    margin-bottom: 30px;
    color: var(--blue) !important;
    font-size: 30px;
    font-weight: 700;
    align-self: center;
}

.editCampus {
    border-radius: 20px !important;
    font-family: "Roboto", sans-serif !important;
}

.editCampus div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
}

.editCampus div div div label{
    color: #1F4373;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    
}

.editCampus div div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%;
}

.editCampus .swal2-loader {
    display: none;
}

.editCampus input {
    border: none;
    border-bottom: 1px solid #1F4373;
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
    background-color: #EBEFF2;
}

.editCampus input:focus {
    outline: 0;
    
}

/*GAMBIARRA PARA SUMIR COM UM LODING Q NAO SAIA DE JEITO NENHUM*/
.editCampus div:nth-child(-n+10) > div {
    display: flex;
    
}

.editCampus div:nth-child(-n+10){
    display: none;
    
}
.editCampus button{
    font-weight: 600;
    border-radius: 50px !important;
    color: white !important;
    padding: 10px 30px 10px 30px !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    align-items: flex-end !important;
    
}

.editCampus button:nth-child(4n) {
    color: #345580 !important; 
   
}

.tableFooter{
    margin: 20px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableFooter div {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.tableFooter p {
    align-self: center;
    font-family: 'Roboto';
    color: var(--text);
    margin-right: 10px;
}

.tableFooter select {
    height: 25px;
    align-self: center;
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-bottom: 1px solid var(--blue);
    outline: 0;
    font-family: 'Roboto';
    color: var(--text);

}
.tableFooter option {
    border: 0 transparent;
    outline: 0;
    border-bottom: 1px solid var(--blue);
    border-color: transparent;
}

.footerButton {
    margin: 0px 10px;
    color: var(--gray);
}
.footerButton:hover {
    color: var(--text);
}