.editContainer {
    width: 500px;
    height: 370px;
    background: var(--background-components);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 19px;    
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
}

.editContainer h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: var(--blue);
    align-self: center;
}

.editContainer h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: var(--blue);
}

.editContainer h5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--blue);
}

.editContainer input {
    background-color: transparent;
    color: var(--gray);
    margin-bottom: 20px;
    border: 0;
    border-bottom: 0.5px solid var(--gray);
    height: 30px;
}

.editInput {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.editButtons {
    display: flex;
    align-items: center;
}

.editButtonCancel {
    width: 164px;
    height: 39px;
    display: flex;
    align-items: center;
    background: var(--white);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    justify-content: center;
    border: 0;
}

.editButtonCancel:hover {
    background: #dddddd;
}

.editButtonSave {
    width: 164px;
    height: 39px;
    display: flex;
    align-items: center;
    background: var(--blue);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    margin-left: 15px;
    border: 0;
    justify-content: center;
}

.editButtonSave:hover {
    background: var(--blue-dark);
}

.editButtonSave h3 {
    color: var(--white);
    align-self: center;
}